*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.mainWrapper{
  display: flex;
  height: calc(100vh - 70px);
}

aside{
  border-right: 1px solid #ddd;
  height: 100%;
  /* background: #ddd; */
  padding: 15px;
}

.menu{
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu a{
  background: #550083;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 15px 30px;
}

main{
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.mainTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.mainTop button, footer > a{
  padding: 15px 35px;
  background: #550083;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.placeOfTheMonth h2{
  font-size: 35px;
}

.mainTop h1{
  font-size: 45px;
}

.mainBanner{
  width: 50%;
}

.mainImages{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.mainImages img{
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.mainBanner img{
  width: 100%;
}

.mainImages h2{
  font-size: 35px;
  text-align: center;
}

footer{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  border-top: 1px solid #ddd;
}

.socials{
  display: flex;
  gap: 20px;
}

.socials i{
  font-size: 30px;
  color: #000;
}