*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --primary-color: #00a003
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

.mainWrapper{
  display: flex;
  height: auto
}

aside{
  border-right: 1px solid #ddd;
  min-height: 100%;
  /* background: #ddd; */
  padding: 15px;
}

.menu{
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu a{
  background: var(--primary-color);
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 15px 30px;
  transition: all .1s ease;
}

.menu a:hover{
  background: #008602;
}

main{
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.bannerWrapper > div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  gap: 20px;
}

.mainTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}


.mainTop button, footer > a{
  padding: 15px 35px;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all .1s ease;
}

.mainTop button:hover, footer > a:hover{
  background: #008602;
}

.placeOfTheMonth h2{
  font-size: 45px;
}

.mainTop h1{
  font-size: 3.5vw;
  font-weight: bold;
}

.homePara{
  text-align: center;
  max-width: 700px;
  width: 100%;
}

.homePara p{
  font-size: 18px;
}

.homePara h2{
  font-size: 30px;
  margin-bottom: 10px;
}

.mainBanner{
  width: 70%;
}

.mainBanner img{
  width: 100%;
}

.mainImages{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.restaurantWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.stamp{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.stamp > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin-bottom: 30px;
  flex-direction: column;
  width: 100%;
}

.stamp > button{
  padding: 15px 40px;
  border: none;
  background: #ffbb00;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  margin-top: -60px;
  cursor: pointer;
  transition: all .1s ease;
}
.stamp > button:hover{
  background: #ffaa00;
}

.stamp > button.active{
  background: #ff0000;
}

.stamp > button.active:hover{
  background: #e30000;
}

.mainImages img{
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.restaurant{
  width: 100%;
}

.restaurant img{
  width: 100%;
}

.restaurant > h2{
  font-size: 30px;
  text-align: center;
}
.stamp h2{
  font-size: 30px;
  text-align: center;
}

.mainImages > h2{
  font-size: 45px;
  text-align: center;
}

footer{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  border-top: 1px solid #ddd;
}

.socials{
  display: flex;
  gap: 20px;
}

.socials i{
  font-size: 30px;
  color: #000;
}